<div class="layui-card-header">版本</div>
<div class="layui-card-body layui-text layadmin-about">
    <blockquote class="layui-elem-quote" style="border: none;">
        <script type="text/html" template>
            <p>当前版本：layuiAdmin-v{{ layui.admin.v }}</p>
            <p>基于框架：layui-v{{ layui.v }}</p>
        </script>
    </blockquote>
</div>

<div class="layui-card-header">关于</div>
<div class="layui-card-body layui-text layadmin-about">
    <blockquote class="layui-elem-quote" style="border: none;">
        layuiAdmin 是一款基于 layui 前端 UI
        框架实现的一套通用型后台管理系统纯静态模板，受国家计算机软件著作权保护（登记号：2018SR410669），禁止公开及传播产品源文件、二次出售等，违者将承担相应的法律责任。
    </blockquote>
</div>